@include style(1) {
  display: block;
  right: 24px;
  bottom: 24px;
  width: 54px;
  height: 54px;
  visibility: hidden;

  @include elevation(1);

  border-radius: 100%;
  padding: 0;
  text-align: center;
  line-height: 54px;
  transform: scale(0) rotate(-180deg);
  animation: none;
  transition: 0.3s cubic-bezier(0.28, 0.55, 0.385, 1.65);

  &:hover {
    @include elevation(3);
  }

  &.et-visible {
    right: 24px;
    transform: scale(1) rotate(0deg);
    visibility: visible;
  }
}