.et_divi_100_custom_back_to_top {
  &--style-3 {
    .et_pb_scroll_top {
      border-radius: 4px;

      &.et-visible {
        transform: scale(1) rotate(405deg);
      }

      .et-icon-arrow-up {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}