.et_divi_100_custom_back_to_top {
  &--style-4 {
    .et_pb_scroll_top {
      right: 0;
      border-radius: 4px 0 0 4px;

      &,
      &.et-hidden {
        transform: scale(1) translate(100%, 0);
      }

      &.et-visible {
        transform: none;
      }
    }
  }
}