.et_divi_100_custom_back_to_top {
  &--style-7 {
    .et_pb_scroll_top {
      right: 0;
      left: 0;
      bottom: 0;
      width: auto;
      padding: 0 20px;
      line-height: 40px;

      &:before {
        content: 'Back To Top';
        display: block;
        color: #FFF;
        font-weight: 700;
        text-align: center;
      }

      &,
      &.et-hidden {
        transform: scale(1);
      }

      &.et-visible {
        transform: none;
      }

      .et-icon-arrow-up {
        display: none;
      }
    }
  }
}