.et_divi_100_custom_back_to_top {
  &--style-5 {
    .et_pb_scroll_top {
      right: 0;
      width: auto;
      border-radius: 4px 0 0 4px;
      padding: 0 20px;
      line-height: 40px;

      &:before {
        content: 'Back To Top';
        display: inline-block;
        color: #FFF;
        font-weight: 700;
      }

      &,
      &.et-hidden {
        transform: scale(1) translate(100%, 0);
      }

      &.et-visible {
        transform: none;
      }

      .et-icon-arrow-up {
        display: none;
      }
    }
  }
}